@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.header_container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

header h3 {
    color: #f2f2f2;
}

.nav_links {
    list-style: none;
    margin: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #0088a9;
}

nav .icon {
    display: none;
}

button {
    padding: 9px 25px;
    background-color: #24252A;
    border: none;
    border-radius: 50px;
    cursor: 0;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media screen and (min-width: 600.1px) {
    button {
        background-color: rgba(0, 136, 169, 1);
    }
}

@media screen and (max-width: 600px) {
    .checkbtn {
        display: block;
    }
    .nav_links {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #24252A;
        right: -100%;
        top: 100px;
        text-align: center;
        transition: all .5s;
    }
    .nav_links li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #navbar {
        top: 100px;
    }
}