@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a, button, p, h2{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.jumbotron{
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../image/jumbotron_image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.507);
    /* margin-bottom: 100px; */
}

.jumbotron_inner{
    width: 70%;
}

.jumbotron_inner h2{
    font-size: 35px;
    font-weight: 700;
}

.jumbotron_inner p{
    font-size: 20px;
    font-weight: 500;
}

.jumbotron_btn{
    display: flex;
    justify-content: center;
}

.jumbotron_btn .btn_one{
    padding: 8px 14px;
    border-radius: 5px;
    background: #fff;
    color: #353535;
    margin-right: 10px;
}

.jumbotron_btn .btn_two{
    padding: 8px 14px;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(0,136,169,1);
}

.habittracker_info{
    min-height: 700px;
    padding: 7% 10%;
    justify-content: center;
    z-index: -1;
}

.habittracker_reason{
    /* margin: 100px 0; */
    margin: 0 0;
    display: flex;
}

.habittracker_reason h2{
    color: #353535;
    font-size: x-large;
    text-align: center;
    margin-top: 15%;
}

.habittracker_reason div{
    /* align-items: center; */
    text-align: center;
    margin: 10px 100px;
    flex: 1 1 0px;
}

.habittracker_reason div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 320px;
}

.txt_on_white{
    color: #353535;
    /* text-align: center; */
}

hr{
    width: 50%;
    margin: 0 auto;
}

.contact_us{
    min-height: 700px;
    padding: 7% 10%;
    justify-content: center;
    background-image: url("../image/jumbotron_image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.507);
}

.contact_us h2{
    color: #edf0f1;
}


.section_title{
    color: #353535;
    font-size: xx-large;
    text-align: center;
}

.form_section{
    text-align: center;
    /* margin: 100px 100px; */
}

.form_section div{
    margin: 50px 50px;
}

.form_section input{
    border-radius: 5px;
    border: 2px solid rgba(0,136,169,1);
} 

.email_input{
    height: 30px;
    width: 500px;
}

.message_input{
    height: 200px;
    width: 500px;
    resize: none;
    overflow: auto;
    outline: none;
    border: 2px solid rgba(0,136,169,1);
}

footer{
    min-height: 300px;
    background-color: #353535;
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    padding: 8% 0;
    z-index: 1;
  }

@media only screen and (max-width: 900px){
    .habittracker_reason div{
        flex: auto;
        width: 100%;
    }
}